﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Zawodnicy</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/sysuniamini.png" height="50" />
                </a>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Zawodnicy</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        @*<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Start</a>
                        </li>*@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Info</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Zawodnicy" asp-action="Index">Lista Zawodników</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Trenerzy" asp-action="Index">Lista Trenerów</a>
                        </li>

                        @* Tajne dla roli "wazny" lub "zarzadca" *@
                        @{
                            if (User.IsInRole("zarzadca") || User.IsInRole("wazny"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Tajne" asp-action="Index">*Materiały</a>
                                </li>
                            }
                            else  //tylko wyswietl nieaktywną opcję
                            {
                                <li class="nav-link text-dark">
                                    <span style="color:darkgray">*Materiały</span>
                                </li>
                            }
                        }


                        @* Panel administracyjny TYLKO dla roli "zarzadca" *@
                        @{
                            if (User.IsInRole("zarzadca"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="PanelAdministracyjny" asp-action="Index">**Panel administracyjny</a>
                                </li>
                            }
                            else  //tylko wyswietl nieaktywną opcję
                            {
                                <li class="nav-link text-dark">
                                    <span style="color:darkgray">**Panel administracyjny</span>
                                </li>
                            }
                        }




                    <li class="nav-item">
                        @*<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Zarejestruj się</a>*@
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="RegisterWithConfirm">Zarejestruj się</a>
                    </li>

                        @* Wylogowanie, Zalogowanie, Zalogowany user *@
                        @if (SignInManager.IsSignedIn(User))
                        {

                            <li class="nav-link text-dark">
                                @*<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Witaj @User.Identity.Name</a>*@
                                Witaj @User.Identity.Name
                            </li>
                            <li class="nav-link text-dark">
                                <form asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm" method="post" class="navbar-right">
                                    <a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Zaloguj się</a>
                            </li>
                        }




                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 by Mirek Juszczak - <a asp-area="" asp-controller="Home" asp-action="Privacy">Info</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
