﻿@{
    ViewData["Title"] = "Materiały";
}
<h1>@ViewData["Title"]</h1>

<h4>
    <img src="~/images/banerdyscyplines.png" height="20" />
    Wykaz materiałów opisujących mechanizmy wykorzystane w aplikacji...
</h4>

<hr />
<p align="justify">
    <ul>
        <li>
            <b>Oficjalne zasoby Microsoft</b>
            <ul>
                <li>[1] .NET Core <a href="https://www.microsoft.com/net/core" target="_blank">https://www.microsoft.com/net/core</a></li>
                <li>[2] .NET CLI overview <a href="https://docs.microsoft.com/en-us/dotnet/core/tools/" target="_blank">https://docs.microsoft.com/en-us/dotnet/core/tools/</a></li>
                <li>[3] ASP .NET documentation <a href="https://docs.microsoft.com/en-us/aspnet/core/?view=aspnetcore-5.0" target="_blank">https://docs.microsoft.com/en-us/aspnet/core/?view=aspnetcore-5.0</a></li>
                <li>[4] Entity Framework documentation <a href="https://docs.microsoft.com/en-us/ef/" target="_blank">https://docs.microsoft.com/en-us/ef/</a></li>
                <li>[5] Introduction to Identity on ASP.NET Core <a href="https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity?view=aspnetcore-5.0&tabs=visual-studio" target="_blank">https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity?view=aspnetcore-5.0&tabs=visual-studio</a></li>
            </ul>
        </li>
        <li>
            <b>Architektura Onion</b>
            <ul>
                <li>
                    [6] Jeffrey Palermo "The Onion Architecture", Part1-Part4 <a href="https://jeffreypalermo.com/2008/07/the-onion-architecture-part-1/" target="_blank">https://jeffreypalermo.com/2008/07/the-onion-architecture-part-1/</a>
                </li>
                <li>[7] Blog "Understanding Onion Architecture" <a href="https://blog.thedigitalgroup.com/understanding-onion-architecture" target="_blank">https://blog.thedigitalgroup.com/understanding-onion-architecture</a></li>
                <li>[8] Grzegorz Ziemoński <a href="https://dzone.com/articles/onion-architecture-is-interesting" target="_blank">https://dzone.com/articles/onion-architecture-is-interesting</a></li>
            </ul>
            <b>Pozostałe</b>
            <ul>
                <li>[9] Jason Watmore's Blog "ASP.NET Core 3.1 - JWT Authentication Tutorial with Example API"
                    <a href="https://jasonwatmore.com/post/2019/10/11/aspnet-core-3-jwt-authentication-tutorial-with-example-api" target="_blank">https://jasonwatmore.com/post/2019/10/11/aspnet-core-3-jwt-authentication-tutorial-with-example-api</a>
                </li>
            </ul>
        </li>
    </ul>
</p>

