﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p align="center">
        <img src="~/images/banerdyscyplines.png" width="60%"/>
    </p>

    <p>
        @*<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">*@
        Przed rozpoczeciem pracy zapraszam do zapoznania się z
        <a asp-controller="Home" asp-action="Privacy">
            Opisem Aplikacji
        </a>
    </p>
</div>
