﻿@{
    ViewData["Title"] = "Informacje dotyczące aplikacji";
}
<h1>@ViewData["Title"]</h1>

<h4>
    <img src="~/images/banerdyscyplines.png" height="20" />
    .NET Core, .NET Core MVC, architektura DDD, JSON Web Token, ASP .NET Identity...
</h4>

Linki do materiałów opisujących mechanizmy wykorzystane w aplikacji znajdziesz w opcji
<a asp-action="Index" asp-controller="Tajne">*Materiały</a>
&nbsp;co wymaga wcześniejszego zalogowania na konto z podwyższonymi uprawnieniami (patrz poniżej Role i uprawnienia użytkowników)

<hr />
<p align="justify">
    <ul>
        <li>Aplikacja została stworzona w pełni w .NET Core</li>
        <li>Część Api jest w pełnej architekturze DDD</li>
        <li>Część WebApp z interfejsem użytkownika natomiast w .NET Core MVC</li>
        <li>Do zabezpieczenia komunikacji klient-serwer wykorzystano JSON Web Token</li>
        <li>Część webowa aplikacji wykorzystuje autentykację użytkowaników opartą na ASP .NET Identity i rolach</li>
    </ul>
</p>

<hr />
<h4>
    <img src="~/images/banerdyscyplines.png" height="20" />
    Role i uprawnienia użytkowników:
</h4>
<p align="justify">
    <ul>
        <li>Użytkownik niezalogowany ma prawo przeglądania bez możliwości modyfikacji i tworzenia</li>
        <li>Konto użytkownika standardowego możesz utworzyć samodzielnie wybierając opcję rejestracji</li>
        <li>Użytkownik standardowy może wykonywać operacje edycji i dodawania</li>
        <li>Użytkownik standardowy nie ma uprawnień do modułów specjalnych takich jak np. panel sterowania</li>
        <li>Do modułów specjalnych takich jak panel sterowania ma dostęp użytkownik o uprawnieniach Zarządcy</li>

    </ul>
</p>

<hr />
<h4>
    <img src="~/images/banerdyscyplines.png" height="20" />
    Role i uprawnienia użytkowników:
</h4>
<p align="justify">
    <ul>
        <li>W aplikacji możesz samodzielnie utworzyć konta użytkowników z uprawnieniami wybierając opcję rejestracji</li>
        <li>Użytkownicy dodani administrycyjnie w  celach testowych:</li>
        <ul>
            <li>login: kierownik, hasło: Kierownik@1, rola: wazny </li>
            <li>login: szefostwo, hasło: Szefostwo@1, rola: zarzadca</li>
            <li>login: technik, hasło: Technik@1, rola: wazny, zarzadca</li>
        </ul>
        <li>Role uprawniające do dostępu do zasobów:</li>
        <ul>
            <li>Dostęp do zasobów oznaczonych * - użytkownik z rolą 'wazny'</li>
            <ul>
                <li>Użytkownik z rolą 'wazny' nie ma dostępu do zasobów oznaczonych **</li>
            </ul>
            <li>Dostęp do zasobów oznaczonych ** - użytkownik z rolą 'zarzadca'</li>
            <ul>
                <li>Użytkownik z rolą 'zarzadca' ma dostęp do zasobów oznaczonych zarówno * jak i **</li>
            </ul>
        </ul>
    </ul>
</p>
