﻿@model ZawodnicyWebApp.Models.Trener

@{ 
    if (User.Identity.IsAuthenticated)      //niezalogowany user nie usunie
    {
        <h3>Are you sure you want to delete this?</h3>
    }
}


<div>
    <h4>
        <img src="~/images/banerdyscyplines.png" height="20" />
        Trener
    </h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Imie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Imie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Team)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team)
        </dd>
    </dl>

    @{
        if (User.Identity.IsAuthenticated)  //jesli user jest zalogowany to wyswietl button Delete
        {
            <form asp-action="Delete">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-action="Index">Back to List</a>
            </form>
        }
        else
        {
            <a asp-action="Index">Back to List</a>
        }
    }


</div>
