﻿<!--NAZWA WIDOKU Index IDENTYCZNA JAK METODY W KONTROLERZE -->

@model IEnumerable<Zawodnicy.Infrastructure.DTO.ZawodnikDto>


<ol>
@foreach (var item in @Model)
{
    <li>@item.Imie @item.Nazwisko</li>
}
</ol>