﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@model ZawodnicyWebApp.Models.Zawodnik

<h4>
    <img src="~/images/banerdyscyplines.png" height="20" />
    Zawodnik
</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* Id zostanie utworzone przez baze danych
        <div class="form-group">
            <label asp-for="Id" class="control-label"></label>
            <input asp-for="Id" class="form-control" />
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="Imie" class="control-label"></label>
                <input asp-for="Imie" class="form-control" />
                <span asp-validation-for="Imie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nazwisko" class="control-label"></label>
                <input asp-for="Nazwisko" class="form-control" />
                <span asp-validation-for="Nazwisko" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataUr" class="control-label">Data urodzenia</label>
                <input asp-for="DataUr" class="form-control" />
                <span asp-validation-for="DataUr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wzrost" class="control-label"></label>
                <input asp-for="Wzrost" class="form-control" />
                <span asp-validation-for="Wzrost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTrenera" class="control-label">Id trenera</label>
                <input asp-for="IdTrenera" class="form-control" />
                <span asp-validation-for="IdTrenera" class="text-danger"></span>
            </div>


            @{
                if (User.Identity.IsAuthenticated)  //jesli user jest zalogowany to wyswietl button Create
                {
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                }
            }



        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
