﻿@model ZawodnicyWebApp.Models.Zawodnik

<div>
    <h4>
        <img src="~/images/banerdyscyplines.png" height="20" />
        Zawodnik
    </h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Imie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Imie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataUr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataUr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Wzrost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Wzrost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdTrenera)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdTrenera)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
