﻿@model IEnumerable<ZawodnicyWebApp.Models.Zawodnik>

<p>
    <img src="~/images/banerdyscyplines.png" height="20" />
    <a asp-action="Create">Add new player</a>
    @{ 
        if (!User.Identity.IsAuthenticated)
        {
            <br />
            <i>Tylko zalogowany użytkownik będzie mógł dodać, zmodyfikować lub usunąć zawodnika</i>
        }
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nazwisko)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataUr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wzrost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTrenera)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataUr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wzrost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTrenera)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })

            </td>
        </tr>
}
    </tbody>
</table>
